<!DOCTYPE html>
<html>
<head>
  <title>Edit Post</title>
</head>
  <body>
    <div><h1><label>Your Post: Found by ID</label></h1>
      <p>Post ID: <%= @post.id %></p>
      <p>Post Name: <%= @post.name %></p>
      <p>Post Content: <%= @post.content %></p>
      <br>
      <br>
    </div>
    <div>
      <form action="/posts/<%=@post.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p>Edit Post Name:  <input type="text" name="name"></p>
        <p>Edit Post Content: <input type="text" name="content"></p>
        <p><input type="submit" id="submit" content="submit"></p>
      </form>
    </div>
  </body>
</html>
Contact GitHub API Training Shop Blog About
