<!DOCTYPE html>
<html>
<head>
  <title>Blog Post App</title>
</head>
  <body>
    <form action="/posts" method="POST">
    <h2>Enter Post Name and Content here: </h2>
      <p>Post Name:  <input type="text" name="name">
      <p>Post Content: <input type="text" name="content">
      <p><input type="submit" id="submit" content="submit"></p>
    </form>
  </body>
</html>
